<html>
<head>
<script src="{{url_for('static', filename='script.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"></link>
<script src="{{url_for('static', filename='jquery-3.5.1.js')}}"></script>
<script src="{{url_for('static', filename='axios.js')}}"></script>
</head>
<body onload="initView()">
    <h3>EXAM</h3>
    <h4>Choose a subject to do exam:</h4>
    <div id="subjects"></div>
    <div id="exams"></div>
    <div id="question_table" style="margin-top: 20px;width: 100%;height: 70%;background-color: rgb(204, 200, 207);overflow: scroll;">



    </div>
    <button onclick="getQuestion()">BEGIN TEST</button>
</body>
</html>